@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Poppins:wght@200;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #705139;

}

body, html {
    background-color: #54220f;
}

section {
    height: auto;
    min-height: 100vh;
    background-color: #eecfb5;
    padding: 2% 5% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.landingPage header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage header div {
    width:100%;
    height:50px;
}
.landingPage header div button {
    display: none;
}




.landingPage header div button {
    width: 80px;
    height:30px;
    margin: 10px 10px 10px 50px;
    background-color: transparent;
    transition: ease-in-out .1s;
    border: none;
    color: #705139;
    font-size:16px;
    font-weight:bold;
}

.landingPage header div button:hover {
    font-size: 20px;
}

.landingPage header div button:focus {
    outline: none;
}



.landingPage header div hr {
    height:3px;
    background-color: #705139;
    border: 0 none;
    width: 100%;
}

.landingPage header div{
    margin-top: 90px;
}



.landingPage header img {
    margin-top: 30px;
    width: 100%;
    max-width: 200px;
}


.landingPage main {
    width: 100%;
    min-height: 60vh;
    height: auto;
    padding: 2% 10% 1% 10%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 50%;

}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    text-align: left;
    color: #705139;
    border-bottom: none;
}

#directionsButton {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}






h1 {
    font-weight: 700;
    font-size:3.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}
h2 {
    font-weight: 700;
    font-size:2.6rem;
    
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
    font-weight: 700;
    font-size:2rem;
    
    font-family: 'Noto Sans JP', sans-serif;
}

h4 {
    font-size:1.5rem;
}

p {
    margin-top:40px;
    font-weight: 200;
    font-size:1rem;
}
.landingPage main div container {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}



#buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage main button {
    margin-top:30px;
    width: 200px;
    height:50px;
    background-color: #D4B294;
    transition: ease-in-out .3s;
    border: none;

}
.landingPage main button:hover {
    background-position: 100% 0;
    background-color: #54220f;
    border: none;
    color: white;
}

.img {
    width:100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
}
.mapImg {
    visibility: hidden;
    width: 100%;
    height:50%;
    margin-bottom:0px;
    background-image: url(images/map.png)
}
.coffeeType  {
 display: flex;
 justify-content:center;
 align-items: center;
}

#coffeeTypeTable {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}





.landingPage footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7%;

    font-weight: 700;
    font-size:1rem;
    margin:0px 0px 40px 10px;
    font-family: 'Noto Sans JP', sans-serif;
}





 .menuPage {
     margin:0px;
     padding:0px;
     display:flex;
     height:auto;
     flex-direction: column;
     text-align: center;
     background-image: url(images/wave-haikei-4.svg);
     background-repeat: no-repeat;
     background-size:cover;
    border-top: none;
 }

 

.menuCards {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding:1% 1% 3% 1%;
    flex-direction: column;
}
.menuPage h1 {
    color:#c2a287;
    margin-top:30px;
    margin-bottom: 0px;
    font-size:3.5rem;
}

 .menuPage article {
     min-width:250px;
     width: 100%;
     min-height:500px;
     height: 100%;
     
     padding:30px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
 }
 .menuPage article:first-of-type {
     margin-top:400px;
 }

 .menuPage article hr:last-child {
    height:2px;
    background-color: #705139;
    border: 0 none;
    width: 70%;
    margin-top: 100px;
 }

.directionsPage {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-height: calc(100vh - 20px);
    border-bottom: 10px solid #54220f
}

.directionsPage img {
    width:75%;
}

.directionsIcons {
    width: 20%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px 0px 50px;
}

.simIcon {
    width: 25px;
    height: 25px;
    margin-bottom: 50px;
    background-color: black;
}

.simIcon:hover {
    width: 30px;
    height: 30px;
    margin-bottom: 45px;
    background-color: black;
}


 hr {
    height:1px;
    background-color: #705139;
    border: 0 none;
    width: 50%;
}

html::-webkit-scrollbar {
    width: 8px; 
 }

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
  border-radius: 25px;
}



 @media handheld, screen and (min-width: 1027px) {

    .landingPage main .img {
        padding: 0;
    }

    section {
        border: 10px solid #54220f;
        border-bottom: 0px;


    }
    .baristaImg {
        width: 100%;
        height:50%;
        background-image: url(images/mainImage.png);
        background-size:contain;
        background-repeat: no-repeat;
        visibility:visible;

    }
    .mapImg {
        width: 100%;
        height:50%;
        margin-bottom:0px;
        background-image: url(images/map.png)
    }

    .menuPage article {
        
        margin:60px;
        
    }

    .menuPage h1 {
        font-size:3.5rem;
        margin-bottom:50px;
    }
    .about p {
        margin-right: 50px;
    }
    
    .landingPage main div {
        max-width: 50%;
    }

    .landingPage header div button {
        display: inline;
    }
    .landingPage main button {
        margin-top:0px;
    }
    .menuCards {
        flex-direction: row;
        align-items: flex-start;
    }
    main {
        flex-direction: column;
    }

    

    .img1 {
        display: none;
    }

    .menuPage article {
        margin:0px;
    }
    .menuPage article:first-of-type {
        margin-top:0px;
    }
    
    
    
 }

 @media handheld, screen and (min-width: 1440px) {
    
 }
